/* Welcome Section */
.welcome-container {
  text-align: center;
  background-color: #ff69b4; /* Pink background */
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
}

.navbar-logo {
  height: 50px;
  margin-right: 10px;

}

.welcome-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
}

.welcome-bio {
  font-size: 18px;
  font-style: italic;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.add-task-container {
  max-width: 60%;
  align-items: center;
  align-self: center;
  margin: auto;
  margin-bottom: 5%;
}





